In [ ]:
import pandas as pd

df = pd.read_csv(
    "daily_internet_usage_by_age_group.csv",
    sep=","
)

In [4]:
df.shape

(2800, 10)

In [5]:
df.head()

,user_id,date,age,age_group,social_media_hours,work_or_study_hours,entertainment_hours,total_screen_time,primary_device,internet_type
0,1,2024-04-02,15,13-18,2.2,3.7,2.4,8.3,Mobile,WiFi
1,2,2024-06-07,13,13-18,1.1,6.9,2.1,10.1,Tablet,WiFi
2,3,2024-04-03,21,19-25,1.3,5.7,1.6,8.6,Tablet,WiFi
3,4,2024-10-02,35,26-35,2.5,5.0,2.0,9.5,Mobile,WiFi
4,5,2024-10-05,49,46-60,0.2,6.3,2.8,9.3,Laptop,WiFi

In [6]:
df.head()

,user_id,date,age,age_group,social_media_hours,work_or_study_hours,entertainment_hours,total_screen_time,primary_device,internet_type
0,1,2024-04-02,15,13-18,2.2,3.7,2.4,8.3,Mobile,WiFi
1,2,2024-06-07,13,13-18,1.1,6.9,2.1,10.1,Tablet,WiFi
2,3,2024-04-03,21,19-25,1.3,5.7,1.6,8.6,Tablet,WiFi
3,4,2024-10-02,35,26-35,2.5,5.0,2.0,9.5,Mobile,WiFi
4,5,2024-10-05,49,46-60,0.2,6.3,2.8,9.3,Laptop,WiFi

In [7]:
df.columns

Index(['user_id', 'date', 'age', 'age_group', 'social_media_hours',
       'work_or_study_hours', 'entertainment_hours', 'total_screen_time',
       'primary_device', 'internet_type'],
      dtype='str')

In [8]:
df.dtypes

user_id                  int64
date                       str
age                      int64
age_group                  str
social_media_hours     float64
work_or_study_hours    float64
entertainment_hours    float64
total_screen_time      float64
primary_device             str
internet_type              str
dtype: object